body{
    margin: 0;
    width: 100%;
}

#img_hotdog{
    width: 100%;
    height: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    padding-right: 77pt;
}

a{
    text-decoration: none;
    font-family: 'OpenSans', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: #2e2e2e;
}

header{
    position: relative;
}

#navigation{
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 26pt;
    padding-bottom: 26pt;
    margin-bottom: 5px;
    box-shadow: 0 2px 6px 1px #e8e7e7;
}

#more_dogs{
    width: 100%;
    height: 690pt;
    background-color: #fbfafa;
}

#inner_more_dogs{
    width: 100%;
    height: 200pt;
    text-align: center;
    padding-top: 115pt;
}

#hotdog_slogan{
    font-family: 'OpenSans', sans-serif;
    font-size: 56pt;
    color: #555559;
    word-wrap: break-word;
    width: 100%;
    padding-top: 35pt;
    padding-bottom: 80pt;
}

#button{
    width: 310pt;
    height: 65pt;
    background-color: blue;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #286782;
    color: white;
    font-family: 'OpenSans', sans-serif;
    font-size: 20pt;
}

.menu{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #ffffff;
    margin: 0;
}

.menu_description{
    float: left;
    width: 100%;
    flex-grow: 1;
}

.menu_img{
    width: 100%;
    flex-grow: 0;
    height: 540px; /* маленький зазор между картинками */
}

footer{
    width: 100%;
    height: 76pt;
    background-color: red;
    margin: 0;
}

@media (max-width: 360px) {
    /* показываем кнопку для переключения верхней навигации */
    #button{
        width: 60%;
        height: 65pt;
    }
    #hotdog_slogan{
        font-size: 10pt;
    }
}